.header {
   min-height: 450px;
   font-size: 33px;
   &__menu {
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 80px;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.7);
   }
   &__buttons {
      padding: 0 10px;
      display: flex;
      margin-top: 65px;
      justify-content: space-between;
      transition: 0.5s all;
      .button {
         transition: 0.5s all;
         &:hover {
            transition: 0.5s all;
            width: 165px;
            height: 62px;
            font-size: 28px;
         }
      }
   }
   &__title {
      position: relative;
      text-align: center;
      img {
         position: absolute;
         top: 95px;
         left: 38%;
      }
      div {
         position: absolute;
         z-index: 20;
         left: 42%;
         margin-top: 155px;
         color: #fff;
      }
   }
}