@media (max-width: 530px) {
    .header {
        &__title {
            img {
                left: 31%;
            }
            div {
                left: 37%;
            }
        }
    }
    .sveta {
        &__title {
            img {
                left: 32%;
            }
            div {
                left: 38%;
            }
        }
        &__about {
            flex-direction: column;
        }
        &__text {
            margin-left: 0;
            margin-top: 0px;
        }
        &__img {
            img {
                margin-left: 130px;
            }
        }
    }
}