@media (max-width: 768px) {
    .holiday {
        &__slide {
            img {
                width: 80%;
                height: 400px;
            }
        }
    }
}
@media (max-width: 530px) {
    .header {
        &__title {
            img {
                left: 31%;
            }
            div {
                left: 37%;
            }
        }
    }
    .sveta {
        &__title {
            img {
                left: 32%;
            }
            div {
                left: 38%;
            }
        }
        &__about {
            flex-direction: column;
        }
        &__text {
            padding: 0 10px;
            margin-left: 0;
            margin-top: 0px;
        }
        &__img {
            img {
                margin-left: 130px;
            }
        }
    }
    .holiday {
        &__slider {
            width: 500px;
        }
        &__slide {
            display: flex;
            img {
                width: 80%;
                height: 400px;
            }
        }
        &__img {
            margin-left: 45px;
        }
    }
    .footer {
        &__text {
            font-size: 20px;
            margin-left: 20px;
        }
    }
    .slick-next {
        left: 455px;
    }
    .holiday__slider {
        .slick-arrow {
            top: 55%;
        }
    }
    .button {
        font-size: 20px;
    }
}
@media (max-width: 425px) {
    .header {
        h1 {
            font-size: 28px;
        }
        .button {
            width: 120px;
        }
        &__title {
            img {
                left: 27%;
            }
            div {
                left: 35%;
            }
        }
    }
    .main {
        .button {
            width: 120px;
            font-size: 19px;
        }
    }
    .sveta {
        padding: 0px;
        &__title {
            img {
                left: 27%;
            }
            div {
                left: 34%;
            }
        }
        &__img {
            img {
                margin-left: 78px;
            }
        }
    }
    .holiday {
        padding: 90px 0 0 0;
        &__slider {
            width: 500px;
        }
        &__slide {
            display: flex;
            margin-left: -13px;
            img {
                width: 68%;
                height: 350px;
            }
        }
        &__img {
            margin-left: 51px;
        }
        &__two {
            padding: 10px 0 0 0;
        }
    }
    .footer {
        &__text {
            font-size: 18px;
            margin-left: 8px;
        }
        &__img {
            width: 40px;
            height: 40px;
            &_mr  {
                margin-right: -20px;
            }
        }
    }
    .slick-next {
        left: 390px;
    }
    .holiday__slider {
        .slick-arrow {
            top: 50%;
        }
    }
}
