@media (max-width: 768px) {
    .holiday {
        &__slide {
            img {
                width: 80%;
                height: 400px;
            }
        }
    }
}
@media (max-width: 480px) {
    .header {
        &__title {
            img {
                left: 31%;
            }
            div {
                left: 37%;
            }
        }
    }
    .sveta {
        &__title {
            img {
                left: 32%;
            }
            div {
                left: 38%;
            }
        }
        &__about {
            flex-direction: column;
        }
        &__text {
            padding: 0 10px;
            margin-left: 0;
            margin-top: 0px;
        }
        &__img {
            img {
                margin-left: 130px;
            }
        }
    }
    .holiday {
        &__slide {
            display: flex;
            img {
                width: 80%;
                height: 400px;
            }
        }
        &__img {
            margin-left: 45px;
        }
    }
    .footer {
        &__text {
            font-size: 20px;
            margin-left: 20px;
        }
    }
    .slick-next {
        left: 495px;
    }
    .holiday__slider {
        .slick-arrow {
            top: 55%;
        }
    }
    .button {
        font-size: 20px;
    }
}
@media (max-width: 480px) {
    .header {
        &__title {
            img {
                left: 29%;
            }
            div {
                left: 36%;
            }
        }
        .button {
            width: 135px;
        }
    }
    .main {
        .button {
            width: 135px;
        }
    }
    .holiday {
        &__slide {
            img {
                display: flex;
                margin: 0 auto;
                width: 70%;
                height: 350px;
                margin-left: 63px;
            }
        }
        &__slider {
            .slick-arrow {
                width: 50px;
            }
        }
    }
    .slick-next {
        left: 430px;
    }
    
}
@media (max-width: 430px) {
    .header {
        h1 {
            font-size: 28px;
        }
        .button {
            width: 120px;
        }
        &__title {
            img {
                left: 27%;
            }
            div {
                left: 35%;
            }
        }
    }
    .main {
        .button {
            width: 120px;
            font-size: 19px;
        }
    }
    .sveta {
        padding: 0px;
        &__title {
            img {
                left: 27%;
            }
            div {
                left: 34%;
            }
        }
        &__img {
            img {
                margin-left: 78px;
            }
        }
    }
    .holiday {
        padding: 90px 0 0 0;
        &__slider {
            width: 500px;
            .slick-arrow {
                width: 35px;
            }
        }
        &__slide {
            display: flex;
            margin-left: -17px;
            img {
                width: 62%;
                height: 300px;
            }
        }
        &__img {
            margin-left: 67px;
        }
        &__two {
            padding: 10px 0 0 0;
        }
    }
    .footer {
        &__text {
            font-size: 18px;
            margin-left: 8px;
        }
        &__img {
            width: 40px;
            height: 40px;
            &_mr  {
                margin-right: -20px;
            }
        }
    }
    .slick-next {
        left: 380px;
    }
    .holiday__slider {
        .slick-arrow {
            top: 60%;
        }
    }
}
@media (max-width: 400px) {
    .header {
        h1 {
            font-size: 26px;
        }
        .button {
            width: 110px;
            font-size: 19px;
        }
        &__title {
            img {
                left: 25%;
            }
            div {
                left: 33%;
            }
        }
    }
    .main {
        .button {
            width: 110px;
            font-size: 18px;
        }
    }
    .holiday {
        &__slide {
            img {
                width: 56%;

            }
        }
    }
    .slick-next {
        left: 347px;
    }
}
@media (max-width: 360px) {
    .holiday {
        &__slide {
            img {
                width: 50%;
                height: 270px;
            }
        }
        &__slider {
            .slick-arrow {
                top: 55%;
            }
        }
    }
    .slick-next {
        left: 315px;
    }
    .sveta {
        &__title {
            img {
                left: 22%;
            }
            div {
                left: 30%;
            }
        }
        &__img {
            img {
                margin-left: 45px;
            }
        }
    }
    .footer {
        &__text {
            font-size: 16px;
            margin-left: 10px;
            margin-right: 15px;
        }
        &__img {
            width: 35px;
        }
    }
}
@media (max-width: 350px) {
    .header {
        h1 {
            font-size: 25px;
        }
        .button {
            width: 100px;
            font-size: 18px;
        }
        &__title {
            img {
                left: 23%;
            }
            div {
                left: 32%;
            }
        }
    }
    .main {
        .button {
            width: 100px;
            font-size: 16px;
        }
    }
    .holiday {
        &__slide {
            img {
                width: 50%;
                height: 270px;
            }
        }
        &__slider {
            .slick-arrow {
                top: 55%;
            }
        }
    }
    .slick-next {
        left: 315px;
    }
    .sveta {
        &__title {
            img {
                left: 21%;
            }
            div {
                left: 29%;
            }
        }
        &__img {
            img {
                margin-left: 40px;
            }
        }
    }
    .footer {
        &__text {
            font-size: 16px;
            margin-left: 10px;
            margin-right: 15px;
        }
        &__img {
            width: 35px;
        }
    }
}
